{{ define "main" }}
  <article>
    <h1>{{ if (eq .Title "Tags") }}List of all available #tagged subjects.{{ else }}{{ .Title }}{{ end }}</h1>
    <link rel="shortcut icon" href="/favicon.png" />
    <ul class="posts-list">
      {{ range .Data.Terms.Alphabetical }}
        <li class="posts-list-item">
            <a class="posts-list-item-title" href="{{ .Page.Permalink }}">
              {{ .Page.Title }}
            </a> 
            {{ .Count }}
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
