.app-header {
  padding: 2.9em;
  background: $darkest-color;
  text-align: center;
}

.app-header-avatar {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 99%;
  border: 0.8rem solid $primary-color2;
}

.app-container {
  padding: 2.8rem;
}

.app-header-social {
  font-size: 1.7em;
  margin: 0.21em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

.app-header-menulink {
  font-size: 1.5em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 23rem;
    min-height: 100vh;
  }

  .app-container {
    max-width: 78rem;
    margin-left: 24rem;
  }
}
