.post-title {
  color: $lightest-color;
  size: 1.9em;
}

.post-content {
  pre {
    border-left: 0.5em solid rgba($primary-color, .6);
    padding-left: 1em;
  }
  img {
    max-width: 100%;
  }
}

.post-meta {
  font-size: 0.8em;
}
